<?xml version="1.0"?>
<!--
/**
 * Copyright © Find Canary, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swarming_subscribepro>
            <trial>
                <max_purchases>1</max_purchases>
                <product_message>You can try the product for the next %trial_interval for only %trial_price and receive it every %interval afterwards.</product_message>
            </trial>
        </swarming_subscribepro>
    </default>
</config>
