<?xml version="1.0"?>
<!--
/**
 * Copyright © Find Canary, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="findcanary-subscribepro-trial" instance="FindCanary\SubscribeProTrial\Observer\Checkout\ValidateCart" />
    </event>
</config>
