<?xml version="1.0"?>
<!--
/**
 * Copyright © Find Canary, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swarming_subscribepro">
            <group id="trial" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Trial Product</label>

                <field id="max_purchases" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Max Purchases</label>
                    <comment>Restrict the ability to purchase trial products more than X times by a customer. Set 0 or leave empty for unlimited.</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="product_message" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Trial Product Message</label>
                    <comment><![CDATA[Available placeholders: %trial_price - price for trial product,<br /> %trial_interval - trial interval, <br /> %interval - interval after trial period.]]></comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
